body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

p {
  line-height: 2rem;
}

.content {
  font-size: 50px;
  z-index: 100000;
}
.nav-down {
  -webkit-box-shadow: 0px 0px 8px 2px #DCDCDC;
       -moz-box-shadow: 0px 0px 8px 2px #DCDCDC;
            box-shadow: 0px 0px 8px 2px #DCDCDC;
}
.nav-content {
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-top: 20px;
  z-index: -10000;
}

.icon {
  position: absolute;
  height: 60px;
  left: 10px;
  top: 7px;
  z-index: 10001;
}

.c {
  position: absolute;
  height: 65px;
  right: 10px;
  top: 0px;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

li {
  color: black;
  display: inline-block;
  font-size: 25px;
}

.food {
  padding-right: 40px;
  padding-left: 40px;
}

.button-collapse {
  color: #26a69a;
}

a {
  color: inherit;
}

a:hover {
  color: #e57373;
}

.active {
  color: #e57373;
}

.parallax-container {
  /*height: 100vh;*/
  line-height: 0;
  color: rgba(255, 255, 255, .9);
  /*z-index: -10000;*/
}

.mainbanner {
  height: 100vh;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/*img.cardpic {
    padding: 1rem 0rem 1rem 0rem;
    max-height: 85vh;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #888888;
}*/

header {
  background: white;
  height: 75px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 20000;
}

.nav-up {
  top: -75px;
}

.leftsmallwindowicon {
  display: none;
  height: 60px;
  left: 10px;
  top: 7px;
}

.rightsmallwindowicon {
  display: none;
  height: 60px;
  right: 10px;
  top: 7px;
}

.piccaption {
  font-size: 15px;
  color: grey;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width: 600px) {
  .food {
    display: none;
  }
  .performances {
    display: none;
  }
  .c {
    display: none;
  }
  .icon {
    display: none;
  }
  .leftsmallwindowicon {
    display: inline-block;
    position: absolute;
    z-index: 10000;
  }
  .rightsmallwindowicon {
    display: inline-block;
    position: absolute;
    z-index: 10000;
  }
  .piccaption {
    font-size: 12px;
    line-height: 13px;
  }
}

.firstpic {
  height: 100vh;
}

.headlines {
  font-family: 'Arial', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0.5vh 0px 0px rgba(255, 172, 237, 0.8);
  position: absolute;
  bottom: 5vh;
  z-index: 10000;
}

.headline2 {
  font-family: 'Arial', sans-serif;
  font-size: 2.8vw;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0.5vh 0px 0px rgba(255, 172, 237, 0.8);
  position: absolute;
  bottom: 3vh;
  z-index: 10000;
}

.cardartist {
  float: right;
  padding: 0rem 1rem 1rem 1rem;
}

p.cardcaption {
  padding: 0rem 1rem 1rem 1rem;
}


/*img.cardpic {
    text-align: center;

    height: auto;
    max-width: 70%;
    display: block;
    margin: 0 auto;
        box-shadow: 5px 5px 5px #888888;
}*/

.story1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}


/*scrolling*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  margin: 0 auto;
  /*padding: 20px;*/
  overflow: hidden;
}

.module-left-temp {
  max-width: 40%;
  /*min-height: 200px;*/
  float: left;
  /*background: white;*/
  position: relative;
  padding: 20px;
  padding-right: 40px;
  /*padding-left: 20px;*/
  margin-left: 3%;
  margin-bottom: 4%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

[aos="fade"] {
  opacity: 1;
  transition-property: opacity;
}

.module-right-temp {
  max-width: 40%;
  min-height: 200px;
  float: right;
  background: white;
  position: relative;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.module-right {
  max-width: 40%;
  min-height: 200px;
  float: right;
  background: white;
  position: relative;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.module-left {
  max-width: 40%;
  /*min-height: 200px;*/
  float: left;
  /*background: white;*/
  position: relative;
  padding: 20px;
  padding-right: 40px;
  /*padding-left: 20px;*/
  margin-left: 3%;
  margin-bottom: 4%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.rule {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
  border: none;
  height: 5px;
  color: #ef9a9a;
  background-color: #ef9a9a;
}

footer{
  padding: 2rem;
  bottom: 0;
  background-color: #efefef;
}
footer a {
  color: orange;
}
.story1banner {
  height: 50vh;
}
