

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(65,65,65);
}


p {
  line-height: 2rem;
}
.content {
  font-size: 50px;
  z-index: 100000;
}
.nav-content {
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-top: 20px;
  z-index: -10000;
}
.icon {
  position: absolute;
  height: 60px;
  left: 10px;
  top: 7px;
  z-index: 10001;
}
.c {
  position: absolute;
  height: 65px;
  right:  10px;
  top: 0px;
}
ul {
  position: relative;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}
li {
  color: black;
  display: inline-block;
  font-size: 25px;
}
.food {
  padding-right: 40px;
  padding-left: 40px;
}
.button-collapse {
  color: #26a69a;
}
a {
  color: inherit;
}
a:hover {
  color: #e57373; 
}
.active {
  color: #e57373;
}
.parallax-container {
  height: 100vh;
  line-height: 0;
  color: rgba(255,255,255,.9);
  z-index: -10000;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

img.cardpic {
    padding: 1rem 0rem 1rem 0rem;
    max-height: 85vh;
    display: block;
    margin: 0 auto;
}

header {
    background: white;
    height: 75px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200;
}

.nav-up {
    top: -75px;
}

.leftsmallwindowicon {
  display: none;
  height: 60px;
  left: 10px;
  top: 7px;
}
.rightsmallwindowicon {
  display: none;
  height: 60px;
  right:  10px;
  top: 7px;
}

@media all and (min-width: 0px) and (max-width: 600px) {
  .food {display: none;}
  .performances {display: none;}
  .c{display: none;}
  .icon{display:none;}
  .leftsmallwindowicon{display: inline-block; position: absolute; z-index: 10000;}
  .rightsmallwindowicon{display:inline-block; position: absolute; z-index: 10000;}

}
.firstpic {
  height: 100vh;
}
.headlines {
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0.5vh 0px 0px rgba(255, 172, 237, 0.8);
  position: absolute;
  bottom: 5vh;
  z-index: 10000;
}
/*cards*/
.photocard {
    margin: auto;
    height: auto;
    max-width: 90vw;
    width: 800px;
    /*background-color: white;*/
    margin-top: 3rem;
}

.card-top p {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0px;
    font-size: 1.4rem;
    
}

p.timestamp {
    font-weight: 300;
    float: left;
}

p.cardartist {
    float: right;
    font-weight: 600;
}

p.cardcaption {
    padding: 0rem 1rem 1rem 1rem;
}

img.cardpic {
    padding: 1rem 0rem 1rem 0rem;
    max-height: 85vh;
    display: block;
    margin: 0 auto;
}
