body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(65,65,65);
}
p {
  line-height: 2rem;
}
.content {
  font-size: 50px;
  z-index: 100000;
}
.nav-content {
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-top: 20px;
  z-index: -10000;
}
.icon {
  position: absolute;
  height: 60px;
  left: 10px;
  top: 7px;
  z-index: 10001;
}
.c {
  position: absolute;
  height: 65px;
  right:  10px;
  top: 0px;
}
ul {
  position: relative;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}
li {
  color: black;
  display: inline-block;
  font-size: 25px;
}
.food {
  padding-right: 40px;
  padding-left: 40px;
}
.button-collapse {
  color: #26a69a;
}
a {
  color: inherit;
}
a:hover {
  color: #e57373;
}
.active {
  color: #e57373;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

img.cardpic {
    padding: 1rem 0rem 1rem 0rem;
    max-height: 85vh;
    display: block;
    margin: 0 auto;
}

header {
    background: white;
    height: 75px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200;
}

.nav-up {
    top: -75px;
}

.leftsmallwindowicon {
  display: none;
  height: 60px;
  left: 10px;
  top: 7px;
}
.rightsmallwindowicon {
  display: none;
  height: 60px;
  right:  10px;
  top: 7px;
}
@media all and (min-width: 0px) and (max-width: 600px) {
  .experiences {display: none;}
  .food {display: none;}
  .c{display: none;}
  .icon{display:none;}
  .leftsmallwindowicon{display: inline-block; position: absolute; z-index: 10000;}
  .rightsmallwindowicon{display:inline-block; position: absolute; z-index: 10000;}
}
.blockquote{
  font-family: raleway;
  font-weight: 400;
  color: grey;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.25rem;
}
.container{
  width: 85%;
}
.rule {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
  border: none;
  height: 5px;
  color: #ef9a9a;
  background-color: #ef9a9a;
}
.module-right {
  /*animation: 1s ease-out 0s 1 slideInFromRight;*/
}
.module-left {
  opacity: 1;
  /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
