.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: url('images/coachellasmall.jpg') center center / cover no-repeat;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
        -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
filter: blur(10px);
z-index: -100;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 30px;
    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
#logo {
    font-family: 'Old Standard TT', serif;
    font-size: 4vh;
    color: white;
    text-align: center;
}
#buttons {
    padding-top: 160px;

}
a {
    color: white !important;
    text-decoration: none !important;
}

.btnnames {
    text-align: center;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('images/coachellasmall.jpg') center center / cover no-repeat;
    }
    #buttons {
        padding-top: 50px;
    }
}